.navbar {
  background-color: darkcyan;
  min-height: 2rem;
  max-height: 4rem;
  width: 100%;
}

.form{
  display: flex;
  justify-content: center;
  margin:0 auto;
  margin-top: 2rem;
  padding: 3em;
  background-color: darkcyan;
  min-width: 18rem;
  max-width: 35rem;
  border-radius: 10px;
}

.containser {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid red;
  padding: 30px;
  border-radius: 10px;
}

#button{
  text-align: center;
}

