.navbar {
  background-color: darkcyan;
  min-height: 2rem;
  max-height: 4rem;
  width: 100%;
}

.form{
  display: flex;
  justify-content: center;
  margin:0 auto;
  margin-top: 2rem;
  padding: 3em;
  background-color: darkcyan;
  min-width: 18rem;
  max-width: 35rem;
  border-radius: 10px;
}

.lists {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid #444;
  padding: 30px;
  border-radius: 10px;
}

#button{
  text-align: center;
}

.container {
  background-color: #444;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: #eee;
  align-items: center;
  height: 2.8rem;
  font-size: 0.8rem;
}

.buttons-container {
  background-color: #444;
  border: none;  
}